.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  transition: 0.3s ease-in-out;
}

.modal.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.buttonClose {
  height: 100%;
  color: #D9534F;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-row .form-group {
  width: calc(50% - 10px);
}

.textarea-group {
  width: 100%;
}

.buttons-group {
  display: flex;
  justify-content: flex-end;
}

.error-message {
  color: red;
  font-size: 14px;
}


.form-group input[type="text"],
.form-group input[type="number"],
.form-group select,
.form-group textarea,
.form-group input[type="text"] {
  border-radius: 8px;
  height: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: whitesmoke;
  font-size: 16px;
}

button[type="submit"],
button[type="button"] {
  margin-top: 10px;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button[type="button"] {
  background-color: #D9534F;
  margin-left: 10px;
}

button[type="submit"] {
  background-color: #5CB85C;
  margin-left: 10px;
}

button[type="button"]:hover {
  background-color: #C9302C;
}


button[type="submit"]:hover {
  background-color: #459F47;
}

.default-option {
  color: #C5C6D0;
}

@media (max-width: 576px) {
  .form-row {
    flex-direction: column;
  }

  .form-row .form-group {
    width: 100%;
  }
}

@media (min-height: 653px) and (max-height: 740px) {
  .modal-content {
    max-height: 90vh;
    overflow-y: auto;
  }
}