@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    height: 90vh;
}

.wrapper {
    width: 30%;
    padding-left: 20px;
    height: 90vh;
}

.wrapper,
.selected-product-details {
    overflow: auto;
}


.card {
    cursor: pointer;
    min-height: 250px;
    background: #4DABF5;
    padding: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #FFF;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(77, 171, 245, 0.3), 0px 8px 12px rgba(77, 171, 245, 0.2);
    position: relative;
}

.card:last-child {
    margin-bottom: 0;
}

.card-title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-description {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    text-align: left;
    font-size: 20px;
}

.card-image img {
    width: 100%;
    height: 550px;
}

.left-section {
    display: flex;
}

.right-section {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.right-section span:first-child {
    margin-bottom: 20px;
}

.subtitle {
    margin-top: 15px;
}

.card-price {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.button-wrapper {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.button {
    background-color: #A194A1;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.button-sort button:first-child {
    margin-right: 1vw;
}

.selected-product-details {
    width: 70%;
    height: 90vh;
    padding-left: 20px;
    padding-right: 20px;
}

.card-font-size {
    font-size: 20px;
    font-weight: bold;
}

.wrapper::-webkit-scrollbar,
.selected-product-details::-webkit-scrollbar {
    width: 8px;
}

.wrapper::-webkit-scrollbar-thumb,
.selected-product-details::-webkit-scrollbar-thumb {
    background-color: #A194A1;
    border-radius: 6px;
}

.wrapper::-webkit-scrollbar-thumb:hover,
.selected-product-details::-webkit-scrollbar-thumb:hover {
    background-color: #A194A1;
}

.wrapper::-webkit-scrollbar-track,
.selected-product-details::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
    padding: 20px;
}

@media (max-width: 576px) {
    .button-wrapper {
        flex-direction: column;
        align-items: center;
        width: -webkit-fill-available;
    }

    .button-sort {
        width: 100%;
    }

    .sortTitle {
        margin: 0 !important;
    }

    .sortPrice {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .addProduct {
        width: 100%;
    }

    .button {
        width: -webkit-fill-available;
    }

    .container {
        flex-direction: column;
        height: 100%;
    }

    .selected-product-details {
        width: 90%;
    }

    .wrapper {
        width: 90%;
        height: 100%;
    }

    .wrapper,
    .selected-product-details {
        overflow: hidden;
    }
}